In [1]:
sc.version

'2.4.5'

In [11]:
df = sqlContext.read.format('com.crealytics.spark.excel')\
.options(header='true', inferschema='true')\
.option("sheetName", "MOD66_2018")\
.option("location", '../MOD66_2018.xls')\
.option("useHeader", "true")\
.option("treatEmptyValuesAsNulls", "true")\
.option("inferSchema", "true")\
.option("addColorColumns", "False")\
.load()
df.printSchema()

root
 |-- HHID: string (nullable = true)
 |-- CASEID: string (nullable = true)
 |-- V013: double (nullable = true)
 |-- V015: double (nullable = true)
 |-- V020: double (nullable = true)
 |-- V101: double (nullable = true)
 |-- V102: double (nullable = true)
 |-- V103: double (nullable = true)
 |-- V131: double (nullable = true)
 |-- V136: double (nullable = true)
 |-- V149: double (nullable = true)
 |-- V155: double (nullable = true)
 |-- V022: double (nullable = true)
 |-- V005: double (nullable = true)
 |-- V190: double (nullable = true)

In [12]:
#df.toPandas()

In [13]:
df.createOrReplaceTempView("MOD66_2018")
df2 = spark.sql("SELECT HHID, CASEID, V013 from MOD66_2018 ") 
df2.show()

+---------+------------+----+
|     HHID|      CASEID|V013|
+---------+------------+----+
|000100701|000100701  2| 6.0|
|000100701|000100701  3| 1.0|
|000101401|000101401  2| 2.0|
|000103501|000103501  4| 1.0|
|000103501|000103501  5| 0.0|
|000105301|000105301  2| 3.0|
|000107101|000107101  2| 5.0|
|000111301|000111301  1| 4.0|
|000112901|000112901  3| 3.0|
|000112901|000112901  4| 1.0|
|000112901|000112901  5| 4.0|
|000117801|000117801  2| 6.0|
|000117801|000117801  3| 0.0|
|000201101|000201101  2| 2.0|
|000205001|000205001  2| 7.0|
|000205001|000205001  3| 3.0|
|000205501|000205501  1| 2.0|
|000205501|000205501  2| 1.0|
|000206501|000206501  2| 3.0|
|000206701|000206701  3|null|
+---------+------------+----+
only showing top 20 rows

In [14]:
df73 = sqlContext.read.format('com.crealytics.spark.excel')\
.options(header='true', inferschema='true')\
.option("sheetName", "MOD73_2018")\
.option("location", '../MOD73_2018.xls')\
.option("useHeader", "true")\
.option("treatEmptyValuesAsNulls", "true")\
.option("inferSchema", "true")\
.option("addColorColumns", "False")\
.load()
df73.printSchema()

root
 |-- CASEID: string (nullable = true)
 |-- D104: double (nullable = true)
 |-- D105A: double (nullable = true)
 |-- D105B: double (nullable = true)
 |-- D105C: double (nullable = true)
 |-- D105D: double (nullable = true)
 |-- D105E: double (nullable = true)
 |-- D105F: double (nullable = true)
 |-- D105G: double (nullable = true)
 |-- D105H: double (nullable = true)
 |-- D105I: double (nullable = true)
 |-- D108: double (nullable = true)
 |-- D115B: double (nullable = true)
 |-- D115C: double (nullable = true)
 |-- D115F: double (nullable = true)
 |-- D115G: double (nullable = true)
 |-- D115H: double (nullable = true)
 |-- D115I: double (nullable = true)
 |-- D115M: double (nullable = true)
 |-- D115N: double (nullable = true)
 |-- D115S: double (nullable = true)
 |-- D115T: double (nullable = true)
 |-- D115V: double (nullable = true)
 |-- D115W: double (nullable = true)
 |-- D115XA: double (nullable = true)
 |-- D116: double (nullable = true)
 |-- D121: double (nullable = true)

In [ ]:
df73.createOrReplaceTempView("MOD73_2018")
df73b = spark.sql("SELECT CASEID, D104, D105A from MOD73_2018 ") 
df73b.show()