In [2]:
sc.version

'2.4.5'

In [3]:
df66 = sqlContext.read.format('com.crealytics.spark.excel')\
.options(header='true', inferschema='true')\
.option("sheetName", "MOD66_2018")\
.option("location", '../MOD66_2018.xls')\
.option("useHeader", "true")\
.option("treatEmptyValuesAsNulls", "true")\
.option("inferSchema", "true")\
.option("addColorColumns", "False")\
.load()
df66.printSchema()

root
 |-- HHID: string (nullable = true)
 |-- CASEID: string (nullable = true)
 |-- V013: double (nullable = true)
 |-- V015: double (nullable = true)
 |-- V020: double (nullable = true)
 |-- V101: double (nullable = true)
 |-- V102: double (nullable = true)
 |-- V103: double (nullable = true)
 |-- V131: double (nullable = true)
 |-- V136: double (nullable = true)
 |-- V149: double (nullable = true)
 |-- V155: double (nullable = true)
 |-- V022: double (nullable = true)
 |-- V005: double (nullable = true)
 |-- V190: double (nullable = true)

In [16]:
#df.toPandas()

In [4]:
df66.createOrReplaceTempView("MOD66_2018")
df66b = spark.sql("SELECT CASEID, V013, V101, V102, V103  from MOD66_2018 ") 
df66b.show()

+------------+----+----+----+----+
|      CASEID|V013|V101|V102|V103|
+------------+----+----+----+----+
|000100701  2| 6.0| 1.0| 1.0| 2.0|
|000100701  3| 1.0| 1.0| 1.0| 0.0|
|000101401  2| 2.0| 1.0| 1.0| 3.0|
|000103501  4| 1.0| 1.0| 1.0| 1.0|
|000103501  5| 0.0| 1.0| 1.0| 2.0|
|000105301  2| 3.0| 1.0| 1.0| 0.0|
|000107101  2| 5.0| 1.0| 1.0| 0.0|
|000111301  1| 4.0| 1.0| 1.0| 2.0|
|000112901  3| 3.0| 1.0| 1.0| 0.0|
|000112901  4| 1.0| 1.0| 1.0| 0.0|
|000112901  5| 4.0| 1.0| 1.0| 0.0|
|000117801  2| 6.0| 1.0| 1.0| 0.0|
|000117801  3| 0.0| 1.0| 1.0| 2.0|
|000201101  2| 2.0| 1.0| 1.0| 0.0|
|000205001  2| 7.0| 1.0| 1.0| 2.0|
|000205001  3| 3.0| 1.0| 1.0| 0.0|
|000205501  1| 2.0| 1.0| 1.0| 2.0|
|000205501  2| 1.0| 1.0| 1.0| 0.0|
|000206501  2| 3.0| 1.0| 1.0| 3.0|
|000206701  3|null|null|null|null|
+------------+----+----+----+----+
only showing top 20 rows

In [5]:
df73 = sqlContext.read.format('com.crealytics.spark.excel')\
.options(header='true', inferschema='true')\
.option("sheetName", "MOD73_2018")\
.option("location", '../MOD73_2018.xls')\
.option("useHeader", "true")\
.option("treatEmptyValuesAsNulls", "true")\
.option("inferSchema", "true")\
.option("addColorColumns", "False")\
.load()
df73.printSchema()

root
 |-- CASEID: string (nullable = true)
 |-- D104: double (nullable = true)
 |-- D105A: double (nullable = true)
 |-- D105B: double (nullable = true)
 |-- D105C: double (nullable = true)
 |-- D105D: double (nullable = true)
 |-- D105E: double (nullable = true)
 |-- D105F: double (nullable = true)
 |-- D105G: double (nullable = true)
 |-- D105H: double (nullable = true)
 |-- D105I: double (nullable = true)
 |-- D108: double (nullable = true)
 |-- D115B: double (nullable = true)
 |-- D115C: double (nullable = true)
 |-- D115F: double (nullable = true)
 |-- D115G: double (nullable = true)
 |-- D115H: double (nullable = true)
 |-- D115I: double (nullable = true)
 |-- D115M: double (nullable = true)
 |-- D115N: double (nullable = true)
 |-- D115S: double (nullable = true)
 |-- D115T: double (nullable = true)
 |-- D115V: double (nullable = true)
 |-- D115W: double (nullable = true)
 |-- D115XA: double (nullable = true)
 |-- D116: double (nullable = true)
 |-- D121: double (nullable = true)

In [6]:
df73.createOrReplaceTempView("MOD73_2018")
df73b = spark.sql("SELECT CASEID, D115B, D115C from MOD73_2018 ") 
df73b.show()

+------------+-----+-----+
|      CASEID|D115B|D115C|
+------------+-----+-----+
|000100701  2|  0.0|  0.0|
|000100701  3| null| null|
|000101401  2|  0.0|  0.0|
|000103501  4|  0.0|  0.0|
|000105301  2|  0.0|  0.0|
|000107101  2|  0.0|  0.0|
|000111301  1|  0.0|  0.0|
|000112901  3| null| null|
|000112901  4|  0.0|  0.0|
|000112901  5| null| null|
|000117801  2|  0.0|  1.0|
|000201101  2|  0.0|  0.0|
|000205001  2| null| null|
|000205001  3|  0.0|  0.0|
|000205501  1|  0.0|  0.0|
|000205501  2| null| null|
|000206501  2|  0.0|  0.0|
|000206701  4| null| null|
|000206701  5|  0.0|  0.0|
|000211701  2|  0.0|  0.0|
+------------+-----+-----+
only showing top 20 rows

In [12]:
#Integrar, selecconando, limpiando, transformando o formateano
"""
"""
df_f1 = spark.sql("SELECT  " # p.CASEID,
     "V013, V101, V102, V103, V131, V136, V149, V155, V190 "
     
     ",CASE (select sum (D115B+ D115C) FROM MOD73_2018 as tb where tb.CASEID= c.CASEID)  "
     " WHEN 0 THEN 0 ELSE 1 END AS MALTxFATHER "
                  
    ",CASE (select sum (D115F+ D115G + D115H + D115I) FROM MOD73_2018 as tb where tb.CASEID= c.CASEID)  "
     " WHEN 0 THEN 0 ELSE 1 END AS MALTxFAM "
                  
    ",CASE (select sum (D115M + D115N) FROM MOD73_2018 as tb where tb.CASEID= c.CASEID)  "
     " WHEN 0 THEN 0 ELSE 1 END AS MALTxAPO "
    
    ",CASE (select sum (D115S + D115T + D115V + D115W + D115XA) FROM MOD73_2018 as tb where tb.CASEID= c.CASEID)  "
     " WHEN 0 THEN 0 ELSE 1 END AS MALTxOTHERS "
    
     ",D121 "
                  
     ",CASE (select sum (D105A + D105B + D105C + D105D+ D105E+ D105F+ D105G+ D105H+ D105I) from MOD73_2018 as tb "             
     " where tb.CASEID= c.CASEID) WHEN 0 THEN 0 ELSE 1 "
     " END AS PhisV "
     "FROM MOD66_2018 as p "
     "inner join MOD73_2018  as c on p.CASEID= c.CASEID "
     "WHERE (D115B IS NOT NULL) AND (D115C IS NOT NULL) "
                  "and D121 in (0,1) "
                  "and V103 in (0,1,2,3,4) "
  " and V131 in (1,2,3,4,5,6,7,8,9,10,11,12) "
  " and V136 <=15 "
  " and V155 in (0,1,2,3,4) "
  " and V190 in (1,2,3,4,5)"
    "") 
print(df_f1.count())
df_f1.show()

25977
+------------+----+----+----+----+----+----+----+----+----+-----------+--------+--------+-----------+----+-----+
|      CASEID|V013|V101|V102|V103|V131|V136|V149|V155|V190|MALTxFATHER|MALTxFAM|MALTxAPO|MALTxOTHERS|D121|PhisV|
+------------+----+----+----+----+----+----+----+----+----+-----------+--------+--------+-----------+----+-----+
|000600301  3| 3.0| 1.0| 1.0| 0.0|10.0| 6.0| 5.0| 2.0| 4.0|          0|       0|       0|          0| 0.0|    0|
|001508501  2| 3.0| 1.0| 1.0| 0.0|10.0| 3.0| 5.0| 2.0| 5.0|          0|       0|       0|          0| 0.0|    0|
|002901701  2| 5.0| 1.0| 2.0| 2.0| 4.0| 5.0| 4.0| 2.0| 1.0|          0|       0|       0|          0| 0.0|    0|
|008806001  4| 1.0| 2.0| 1.0| 2.0|10.0| 7.0| 3.0| 2.0| 4.0|          0|       0|       0|          0| 0.0|    1|
|011501501  2| 3.0| 2.0| 2.0| 2.0|10.0| 6.0| 2.0| 2.0| 1.0|          0|       0|       0|          1| 0.0|    0|
|011504101  2| 5.0| 2.0| 2.0| 3.0|10.0| 5.0| 1.0| 2.0| 1.0|          0|       0|       0|          0| 0.0|    1|
|016104501  4| 1.0| 3.0| 2.0| 2.0| 1.0| 7.0| 4.0| 2.0| 1.0|          0|       0|       0|          0| 1.0|    1|
|016411601  2| 3.0| 3.0| 2.0| 0.0|10.0| 5.0| 3.0| 2.0| 2.0|          0|       0|       0|          0| 1.0|    0|
|017200301  1| 4.0| 4.0| 1.0| 0.0|10.0| 4.0| 4.0| 2.0| 3.0|          0|       0|       0|          0| 0.0|    1|
|025509901  2| 5.0| 5.0| 1.0| 1.0|10.0| 4.0| 5.0| 2.0| 4.0|          0|       0|       0|          0| 1.0|    0|
|025702201  1| 2.0| 5.0| 1.0| 3.0|10.0| 3.0| 1.0| 2.0| 1.0|          0|       0|       0|          0| 1.0|    0|
|025709501  2| 5.0| 5.0| 1.0| 2.0| 1.0| 6.0| 4.0| 2.0| 2.0|          0|       0|       0|          0| 1.0|    0|
|029804901  2| 6.0| 6.0| 1.0| 0.0|10.0| 5.0| 3.0| 2.0| 2.0|          0|       0|       0|          0| 0.0|    0|
|034609001  2| 4.0| 6.0| 2.0| 3.0|10.0| 4.0| 1.0| 1.0| 1.0|          0|       0|       0|          0| 1.0|    0|
|035506001  2| 5.0| 7.0| 1.0| 1.0|10.0| 5.0| 3.0| 2.0| 3.0|          0|       0|       0|          0| 0.0|    1|
|035713701  2| 5.0| 7.0| 1.0| 2.0|10.0| 4.0| 4.0| 2.0| 4.0|          1|       0|       0|          0| 1.0|    1|
|036305601  1| 2.0| 7.0| 1.0| 0.0|10.0| 4.0| 4.0| 2.0| 3.0|          0|       0|       0|          0| 0.0|    1|
|042300401  3| 1.0| 8.0| 1.0| 0.0|10.0| 5.0| 3.0| 2.0| 2.0|          1|       0|       0|          0| 1.0|    1|
|043903401  1| 4.0| 8.0| 1.0| 2.0|10.0| 2.0| 5.0| 2.0| 4.0|          0|       0|       0|          0| 1.0|    1|
|051604701  2| 4.0| 9.0| 2.0| 2.0|10.0| 6.0| 4.0| 2.0| 1.0|          0|       0|       0|          0| 1.0|    1|
+------------+----+----+----+----+----+----+----+----+----+-----------+--------+--------+-----------+----+-----+
only showing top 20 rows

In [ ]:
26976
25990

In [13]:
df_f1.toPandas().head()

,CASEID,V013,V101,V102,V103,V131,V136,V149,V155,V190,MALTxFATHER,MALTxFAM,MALTxAPO,MALTxOTHERS,D121,PhisV
0,000600301 3,3.0,1.0,1.0,0.0,10.0,6.0,5.0,2.0,4.0,0,0,0,0,0.0,0
1,001508501 2,3.0,1.0,1.0,0.0,10.0,3.0,5.0,2.0,5.0,0,0,0,0,0.0,0
2,002901701 2,5.0,1.0,2.0,2.0,4.0,5.0,4.0,2.0,1.0,0,0,0,0,0.0,0
3,008806001 4,1.0,2.0,1.0,2.0,10.0,7.0,3.0,2.0,4.0,0,0,0,0,0.0,1
4,011501501 2,3.0,2.0,2.0,2.0,10.0,6.0,2.0,2.0,1.0,0,0,0,1,0.0,0

In [14]:
df_f1.toPandas().isnull()

,CASEID,V013,V101,V102,V103,V131,V136,V149,V155,V190,MALTxFATHER,MALTxFAM,MALTxAPO,MALTxOTHERS,D121,PhisV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25972,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25973,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25974,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25975,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
25976,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False